@import './variables';
@import './mixins';

table {
    border-collapse: collapse;

    td {
        border-top: $border;
        border-bottom: $border;
    }
    th {
        border-bottom: $border2;
    }
    td,
    th {
        padding: 5px 10px 5px 0;
        text-align: left;

        @include respondUp($tabletViewport) {
            padding: 10px 20px 10px 0;
        }
    }
    th + tr {
        td {
            border-top: none;
        }
    }
    tr:hover {
        background: rgba($tietary, 0.2);
    }
}

.tile {
    .table-wrapper {
        padding: 15px;
    }
}