.tile {
    background: $white;
    border-radius: $border-radius;
    box-shadow: 2px 4px 10px -6px $tietary;
    position: relative;
    overflow: scroll;

    .chart {
        //padding-top: 25px;
        //display: flex;
        //height: 100%;
        // width:
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: 4px 6px 10px -6px $tietary;
        transition: all .03s linear;
    }
}

.filter {
    position: absolute;
    right: 15px;
    top: 15px;
}

.tile-chart-wrapper {
    position: relative;
}