h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondary;
}

p,
span {
    color: $tietary;
}

.cardinals-bg {
    background: $cardinals-primary;
}
.falcons-bg {
    background: $falcons-primary;
}
.ravens-bg {
    background: $ravens-primary;
}
.bills-bg {
    background: $bills-primary;
}
.panthers-bg {
    background: $panthers-primary;
}
.bears-bg {
    background: $bears-primary;
}
.bengals-bg {
    background: $bengals-primary;
}
.browns-bg {
    background: $browns-primary;
}
.broncos-bg {
    background: $broncos-primary;
}
.cowboys-bg {
    background: $cowboys-primary;
}
.lions-bg {
    background: $lions-primary;
}
.packers-bg {
    background: $packers-primary;
}
.texans-bg {
    background: $texans-primary;
}
.colts-bg {
    background: $colts-primary;
}
.jaguars-bg {
    background: $jaguars-primary;
}
.chiefs-bg {
    background: $chiefs-primary;
}
.chargers-bg {
    background: $chargers-primary;
}
.rams-bg {
    background: $rams-primary;
}
.dolphins-bg {
    background: $dolphins-primary;
}
.vikings-bg {
    background: $vikings-primary;
}
.patriots-bg {
    background: $patriots-primary;
}
.saints-bg {
    background: $saints-primary;
}
.giants-bg {
    background: $giants-primary;
}
.jets-bg {
    background: $jets-primary;
}
.raiders-bg {
    background: $raiders-primary;
}
.eagles-bg {
    background: $eagles-primary;
}
.steelers-bg {
    background: $steelers-primary;
}
.niners-bg {
    background: $niners-primary;
}
.seahawks-bg {
    background: $seahawks-primary;
}
.buccaneers-bg {
    background: $buccaneers-primary;
}
.titans-bg {
    background: $titans-primary;
}
.redskins-bg {
    background: $redskins-primary;
}


